<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header(~{::title},~{})">
	<title>首页</title>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class="layui-container">
    	<div class="layui-row">
    		<div id="main" class="layui-col-md6 layui-col-md-offset3" style="height: 400px;"></div>
    	</div>
    </div>
    
    <th:block th:replace="base:: common_javascript(~{::script})">
		<script src="/js/echarts.js" th:src="@{/js/echarts.js}"></script>
		<script src="/dashboard.js" th:src="@{/dashboard.js}"></script>
	</th:block>
</body>
</html>