<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header(~{::title},~{})">
	<title>恶灵退散后台管理系统</title>
</head>
<body>
	<div class="container">
		<div class="logo">
			<a href="/home" th:href="@{/home}">恶灵退散后台管理系统</a>
		</div>
		<div class="left_open">
			<i title="展开左侧栏" class="iconfont">&#xe65c;</i>
		</div>
		<ul class="layui-nav right">
			<li class="layui-nav-item">
				<a href="javascript:;"><img src="http://t.cn/RCzsdCq" class="layui-nav-img">用户</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="javascript:;" th:onclick="|openUserInfo(${#session.getAttribute('user_in_session').id})|">个人信息</a>
					</dd>
					<dd>
						<a href="/logout" th:href="@{/logout}">退出登录</a>
					</dd>
				</dl></li>
		</ul>
	</div>
	<div class="left-nav">
		<div id="side-nav">
			<ul id="nav">
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe62c;</i>
						<cite>重要监控数据</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						<li>
							<a _href="/kpiAppraiseRevenue/index" th:_href="@{/kpiAppraiseRevenue/index}"><i class="iconfont">&#xe602;</i><cite>KPI考核收入</cite></a>
						</li>
						<li>
							<a _href="/activeUser/index" th:_href="@{/activeUser/index}"><i class="iconfont">&#xe602;</i><cite>活跃用户数</cite></a>
						</li>
						<li>
							<a _href="/newUser/index" th:_href="@{/newUser/index}"><i class="iconfont">&#xe602;</i><cite>新增用户数</cite></a>
						</li>
						<li>
							<a _href="/playerRemain/index" th:_href="@{/playerRemain/index}"><i class="iconfont">&#xe602;</i><cite>角色留存</cite></a>
						</li>
						<li>
							<a _href="/kpiPay/index" th:_href="@{/kpiPay/index}"><i class="iconfont">&#xe602;</i><cite>付费数据</cite></a>
						</li>
						<li>
							<a _href="/userltv/index" th:_href="@{/userltv/index}"><i class="iconfont">&#xe602;</i><cite>用户价值(LTV)</cite></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe857;</i>
						<cite>综合信息</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						<li>
							<a _href="/generalInfo/basicInfo/index" th:_href="@{/generalInfo/basicInfo/index}"><i class="iconfont">&#xe602;</i><cite>基础数据表</cite></a>
						</li>
						<li>
							<a _href="/generalInfo/generalOnlineInfo/index" th:_href="@{/generalInfo/generalOnlineInfo/index}"><i class="iconfont">&#xe602;</i><cite>综合在线数据</cite></a>
						</li>
						<li>
							<a _href="/generalInfo/newValidUser/index" th:_href="@{/generalInfo/newValidUser/index}"><i class="iconfont">&#xe602;</i><cite>新增有效用户</cite></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe857;</i>
						<cite>市场数据</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe857;</i>
						<cite>游戏行为分析</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe857;</i>
						<cite>游戏后台功能</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe857;</i>
						<cite>合服数据</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe857;</i>
						<cite>游戏内容行为分析</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe857;</i>
						<cite>客服使用</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe857;</i>
						<cite>流失数据</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe857;</i>
						<cite>活动分析</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe614;</i>
						<cite>系统管理</cite>
						<i class="iconfont nav_right">&#xe603;</i>
					</a>
					<ul class="sub-menu">
						<li>
							<a _href="/user/index" th:_href="@{/user/index}">
								<i class="iconfont">&#xe602;</i>
								<cite>用户管理</cite>
							</a>
						</li>
						<li>
							<a _href="/authorityGroup/index" th:_href="@{/authorityGroup/index}">
								<i class="iconfont">&#xe602;</i>
								<cite>角色管理</cite>
							</a>
						</li>
						<li>
							<a _href="/authority/index" th:_href="@{/authority/index}">
								<i class="iconfont">&#xe602;</i>
								<cite>权限管理</cite
							></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="page-content">
		<div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
			<ul class="layui-tab-title">
				<li class="home"><i class="layui-icon">&#xe68e;</i>首页</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<iframe src="/dashboard" frameborder="0" scrolling="yes" class="x-iframe" th:src="@{/dashboard}"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content-bg"></div>
	<div class="footer">
		<div class="copyright">Copyright © 2018 首游互动 Inc. 保留所有权利。</div>
	</div>
	
	<th:block th:replace="base:: common_javascript(~{})" />
	<script>
		function openUserInfo(id){
			layer.open({
				type: 2,
				content: 'user/updatePage?id='+id,
				id: 'user-updatePage',
				area: ['800px','600px'],
				title: '修改用户'
			});
		}
	</script>
</body>
</html>