<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header(~{::title},~{::link})">
<title>修改用户</title>
<link rel="stylesheet" href="/css/chosen.css" th:href="@{/css/chosen.css}">
<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
<link rel="stylesheet" href="/css/prism.css" th:href="@{/css/prism.css}">
</head>
<body>
	<div class="x-body layui-anim layui-anim-up">
		<form id="mainForm" class="layui-form">
			<input id="id" name="id" th:value="${model?.id}" hidden="hidden" />
			<input id="verNo" name="verNo" th:value="${model?.verNo}" hidden="hidden" />
			<div class="layui-form-item">
				<label for="accName" class="layui-form-label">
					<span class="x-red">*</span>账号
				</label>
				<div class="layui-input-inline">
					<input th:value="${model?.accName}" type="text" id="accName" name="accName" required="required" lay-verify="accName" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux">
					<span class="x-red">*</span>5-15个字符
				</div>
			</div>
			<div class="layui-form-item">
				<label for="username" class="layui-form-label">
					<span class="x-red">*</span>用户名
				</label>
				<div class="layui-input-inline">
					<input th:value="${model?.username}" type="text" id="username" name="username" required="required" lay-verify="username" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux">
					<span class="x-red">*</span>2-15个字符
				</div>
			</div>
			<div class="layui-form-item">
				<label for="password" class="layui-form-label">
					<span class="x-red">*</span>密码
				</label>
				<div class="layui-input-inline">
					<input type="password" id="password" name="password" required="required" lay-verify="password" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux">
					<span class="x-red">*</span>5-15个字符
				</div>
			</div>
			<div class="layui-form-item">
				<label for="password2" class="layui-form-label">
					<span class="x-red">*</span>确认密码
				</label>
				<div class="layui-input-inline">
					<input type="password" id="password2" name="password2" required="required" lay-verify="password2" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux">
					<span class="x-red">*</span>同上
				</div>
			</div>
			<div class="layui-form-item">
	            <label for="authorityGroup" class="layui-form-label">
	                <span class="x-red">*</span>权限
	            </label>
	            <div class="layui-input-inline">
	                <select id="authorityGroup" name="authorityGroup" multiple class="chosen-select" lay-ignore >
						<option th:each="item : ${authorityGroups}" th:value="${item.id}" th:text="${item.groupName}" 
							th:selected="${#lists.contains(authorityGroupIds,item.id)}"></option>
					</select>
	            </div>
	        </div>
			<div class="layui-form-item">
				<label for="updateBtn" class="layui-form-label"></label>
				<button id="updateBtn" type="button" class="layui-btn" lay-filter="update" lay-submit >修改</button>
			</div>
		</form>
	</div>
	<th:block th:replace="base:: common_javascript(~{::script})">
		<script src="/js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
		<script src="./index.js" th:src="@{/system/user/update.js}"></script>
		<script src="/js/md5.js" th:src="@{/js/md5.js}"></script>
	</th:block>
</body>
</html>