<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header(~{::title},~{::link})">
	<title>日志管理</title>
	<link rel="stylesheet" href="/css/chosen.css" th:href="@{/css/chosen.css}">
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
  	<link rel="stylesheet" href="/css/prism.css" th:href="@{/css/prism.css}">
</head>
<body>
	<div class="x-nav">
		<span class="layui-breadcrumb">
			<a href="javascript:;"><cite>系统管理</cite></a>
			<a href="javascript:;"><cite>日志管理</cite></a>
		</span>
		<a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right" href="javascript:location.replace(location.href);" title="刷新">
			<i class="layui-icon" style="line-height: 30px">&#xe666;</i></a>
	</div>
	<div class="x-body">
		<div class="layui-card">
			<div class="layui-card-body">
				<form id="searchForm" class="layui-form"><!-- class="layui-form layui-col-md12 x-so" -->
					<div class="layui-input-inline">
						<input class="layui-input" id="accName" type="text" name="accName" placeholder="请输入账号" autocomplete="off">
					</div>
					<div class="layui-input-inline">
						<input class="layui-input" id="username" type="text" name="username" placeholder="请输入用户名" autocomplete="off">
					</div>
					<button type="button" id="searchBtn" class="layui-btn x-right"><i class="layui-icon">&#xe615;</i></button>
				</form>
			</div>
		</div>
		<table id="main" lay-filter="main"></table>
	</div>
	
	<th:block th:replace="base:: common_javascript(~{::script})">
		<script src="./index.js" th:src="@{/system/log/index.js}"></script>
	</th:block>
	
	<script id="actionBar" type="text/html">
		{{# if(d.referenceFlag == 0) { }}
				<a class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="mdc">MDC</a>
				<a class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="exception">异常栈</a>
		{{# } }}
		{{# if(d.referenceFlag == 1) { }}
				<a class="layui-btn layui-btn-sm" lay-event="mdc">MDC</a>
				<a class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="exception">异常栈</a>
		{{# } }}
  		{{# if(d.referenceFlag == 2) { }}
				<a class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="mdc">MDC</a>
				<a class="layui-btn layui-btn-sm" lay-event="exception">异常栈</a>
		{{# } }}
		{{# if(d.referenceFlag == 3) { }}
				<a class="layui-btn layui-btn-sm" lay-event="mdc">MDC</a>
				<a class="layui-btn layui-btn-sm" lay-event="exception">异常栈</a>
		{{# } }}
	</script>
</body>
</html>