<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>table模块快速使用</title>
  <link rel="stylesheet" href="/depend/layui/css/layui.css" media="all" th:href="@{/depend/layui/css/layui.css}">
</head>
<body>
<table id="demo" lay-filter="test"></table>
 
<script src="/depend/layui/layui.all.js" th:href="@{/depend/layui/layui.all.js}"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 315
    ,url: /*[[@{/test/user}]]*/ '/test/user' //数据接口
    ,page: true //开启分页
    ,limit: 30
    ,loading: true
    ,text: {
    	none: '暂无相关数据'
    }
  	,where: {
  		field: "id",
  		sord: "asc"
  	}
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
      ,{field: 'username', title: '用户名', sort: true, width:80}
      ,{field: 'sex', title: '性别', width:80, sort: true}
    ]]
  });
  
  table.on('sort(test)', function(obj){ //注：sort是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  console.log(obj.field); //当前排序的字段名
	  console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
	  console.log(this); //当前排序的 th 对象
	  
	  //尽管我们的 table 自带排序功能，但并没有请求服务端。
	  //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
	  table.reload('demo', {
	    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
	    ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
	      field: obj.field //排序字段
	      ,sord: obj.type //排序方式
	    }
	  });
	});
  
});
</script>
</body>
</html>