<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="logPrefix" value="mybatis"/>
		<!-- <setting name="logImpl" value="STDOUT_LOGGING"/> -->
	</settings>
	
	<typeAliases>
		<typeAlias type="org.apache.ibatis.type.EnumOrdinalTypeHandler" alias="enumHandler" />
	</typeAliases>
	
	<typeHandlers>
		<package name="cn.lm.mybatis.typehandler"/>
	</typeHandlers>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/mwd" />
				<property name="username" value="mwd" />
				<property name="password" value="mwd" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<package name="cn.lm.mapper" />
	</mappers>
</configuration>