<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header(~{::title},~{::link})">
	<title>角色留存</title>
	<link rel="stylesheet" href="/css/chosen.css" th:href="@{/css/chosen.css}">
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
  	<link rel="stylesheet" href="/css/prism.css" th:href="@{/css/prism.css}">
</head>
<body>
	<div class="x-nav">
		<span class="layui-breadcrumb">
			<a href="javascript:;"><cite>首页</cite></a>
			<a href="javascript:;"><cite>重要监控数据</cite></a>
			<a href="javascript:;"><cite>付费数据</cite></a>
		</span>
	</div>
	<div class="x-body">
		<div class="layui-card">
			<div class="layui-card-header">查询条件</div>
			<div class="layui-card-body">
				<form id="searchForm" class="layui-container x-so">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">开始日</label>
							<div class="layui-input-inline" style="width: 100px;">
								<input name="start" autocomplete="off" id="start"
									class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">截止日</label>
							<div class="layui-input-inline" style="width: 100px;">
								<input name="end" autocomplete="off" id="end"
									class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">渠道</label>
							<div class="layui-input-inline">
								<select id="platform" name="platform" multiple class="chosen-select">
									<option value="-1" selected>全部渠道</option>
									<option th:each="item : ${platform}" th:value="${item}" th:text="${item}"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">服务器</label>
							<div class="layui-input-inline">
								<select id="serverId" name="serverId" multiple class="chosen-select">
									<option value="-1" selected>全部服务器</option>
									<option th:each="server : ${serverList}" th:value="${server.serverid}" th:text="${server.servername}"></option>
								</select>
							</div>
						</div>
						<a class="layui-btn layui-btn-small" style="margin-left: 5px;float: right;" href="javascript:location.replace(location.href);" title="刷新">
							<i class="layui-icon" >&#xe666;</i></a>
						<button class="layui-btn" type="button" lay-submit lay-filter="export" style="float: right;margin-left: 5px;"><i class="layui-icon">&#xe601;</i></button>
						<button id="searchBtn" class="layui-btn" type="button" lay-submit lay-filter="search" style="float: right;"><i class="layui-icon">&#xe615;</i></button>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-header">数据说明</div>
			<div class="layui-card-body">
				活跃用户：每日登录过游戏用户数（去重）<br>
				每日收入：每日00：00-24：00累计充值金额的总和<br>
				付费用户数：每日充值的用户数(去重）<br>
				付费ARPPU：每日收入/付费人数<br>
				付费率：付费用户数/活跃用户<br>
				活跃ARPU：每日收入/活跃用户
			</div>
		</div>
		<div class="layui-card" style="background-color: rgba(0,0,0,0);">
			<!-- <div id="main" lay-filter="main"></div> -->
			<table id="main" class="layui-table" lay-data="{height: 450,url: 'kpiPay/getKpiPay',page: true,limit: 30,loading: true,text: {none: '暂无相关数据'},where: {field:'date',sord:'asc'},done: function (response){$('#start').val(response.extra.start);$('#end').val(response.extra.end);}}" lay-filter="main">
				<thead>
					<tr>
						<th lay-data="{field: 'date', width:120, sort: false}">日期</th>
						<th lay-data="{field: 'activeUserNumber', width:120, sort: false}">活跃用户</th>
						<th lay-data="{field: 'revenue', width:120, sort: false,templet: function formatRate(value){ return value.revenue.toFixed(0);}}">每日收入</th>
						<th lay-data="{field: 'payUserNumber', width:130, sort: false}">付费用户数</th>
						<th lay-data="{field: 'payArppu', width:120, sort: false,templet: function formatRate(value){ return value.payArppu.toFixed(2);}}">付费ARPPU</th>
						<th lay-data="{field: 'payRate', width:120, sort: false,templet: function formatRate(value){ return (value.payRate*100).toFixed(2)+'%';}}">付费率</th>
						<th lay-data="{field: 'activeArpu', width:120, sort: false,templet: function formatRate(value){return value.activeArpu.toFixed(2);}}">活跃ARPU</th>
						<th lay-data="{field: 'oldPlayerNumber', width:120, sort: false}">老玩家数量</th>
						<th lay-data="{field: 'oldPayRevenue', width:140, sort: false,templet: function formatRate(value){return value.oldPayRevenue.toFixed(2);}}">老玩家付费额</th>
						<th lay-data="{field: 'payArppuOld', width:140, sort: false,templet: function formatRate(value){return value.payArppuOld.toFixed(2);}}">老玩家ARPPU</th>
						<th lay-data="{field: 'payRateOld', width:140, sort: false,templet: function formatRate(value){return (value.payRateOld*100).toFixed(2)+'%';}}">老玩家付费率</th>
						<th lay-data="{field: 'activeArpuOld', width:140, sort: false,templet: function formatRate(value){return value.activeArpuOld.toFixed(2);}}">老玩家ARPU</th>
						<th lay-data="{field: 'newPlayerNumber', width:130, sort: false}">新增角色数</th>
						<th lay-data="{field: 'newPayRevenue', width:140, sort: false,templet: function formatRate(value){return value.newPayRevenue.toFixed(2);}}">新增付费额</th>
						<th lay-data="{field: 'newPayNumber', width:140, sort: false}">新增付费人数</th>
						<th lay-data="{field: 'payArppuNew', width:130, sort: false,templet: function formatRate(value){return value.payArppuNew.toFixed(2);}}">新增ARPPU</th>
						<th lay-data="{field: 'payRateNew', width:150, sort: false,templet: function formatRate(value){return (value.payRateNew*100).toFixed(2)+'%';}}">首日付费转化率</th>
						<th lay-data="{field: 'activeArpuNew', width:120, sort: false,templet: function formatRate(value){return value.activeArpuNew.toFixed(2);}}">新增ARPU</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

	<th:block th:replace="base:: common_javascript(~{::script})">
		<script src="/js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
		<script src="/js/prism.js" th:src="@{/js/prism.js}"></script>
  		<script src="/js/init.js" th:src="@{/js/init.js}"></script>
  		<script src="./index.js" th:src="@{/importantMonitor/kpipay/index.js}"></script>
	</th:block>
</body>
</html>