<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syhd.ahriman.dao.mapper.AppServerMapper">
	<resultMap id="BaseResultMap"
		type="com.syhd.ahriman.dao.model.AppServer">
		<id column="serverID" jdbcType="INTEGER" property="serverid" />
		<result column="serverName" jdbcType="VARCHAR"
			property="servername" />
		<result column="serverIP" jdbcType="VARCHAR"
			property="serverip" />
		<result column="serverPort" jdbcType="INTEGER"
			property="serverport" />
		<result column="rmiUrl" jdbcType="VARCHAR" property="rmiurl" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="recomm" jdbcType="TINYINT" property="recomm" />
		<result column="wlmodel" jdbcType="TINYINT" property="wlmodel" />
		<result column="hefu" jdbcType="TINYINT" property="hefu" />
		<result column="group_id" jdbcType="TINYINT" property="groupId" />
		<result column="log_db" jdbcType="VARCHAR" property="logDb" />
		<result column="open_time" jdbcType="TIMESTAMP"
			property="openTime" />
	</resultMap>
	<sql id="Base_Column_List">
		serverID, serverName, serverIP, serverPort, rmiUrl, status, recomm, wlmodel,
		hefu,
		group_id, log_db, open_time
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_server
		where serverID = #{serverid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from app_server
		where serverID = #{serverid,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.syhd.ahriman.dao.model.AppServer">
		insert into app_server (serverID, serverName, serverIP,
		serverPort, rmiUrl, status,
		recomm, wlmodel, hefu,
		group_id, log_db, open_time
		)
		values (#{serverid,jdbcType=INTEGER}, #{servername,jdbcType=VARCHAR},
		#{serverip,jdbcType=VARCHAR},
		#{serverport,jdbcType=INTEGER}, #{rmiurl,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
		#{recomm,jdbcType=TINYINT}, #{wlmodel,jdbcType=TINYINT},
		#{hefu,jdbcType=TINYINT},
		#{groupId,jdbcType=TINYINT}, #{logDb,jdbcType=VARCHAR}, #{openTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.syhd.ahriman.dao.model.AppServer">
		insert into app_server
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="serverid != null">
				serverID,
			</if>
			<if test="servername != null">
				serverName,
			</if>
			<if test="serverip != null">
				serverIP,
			</if>
			<if test="serverport != null">
				serverPort,
			</if>
			<if test="rmiurl != null">
				rmiUrl,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="recomm != null">
				recomm,
			</if>
			<if test="wlmodel != null">
				wlmodel,
			</if>
			<if test="hefu != null">
				hefu,
			</if>
			<if test="groupId != null">
				group_id,
			</if>
			<if test="logDb != null">
				log_db,
			</if>
			<if test="openTime != null">
				open_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="serverid != null">
				#{serverid,jdbcType=INTEGER},
			</if>
			<if test="servername != null">
				#{servername,jdbcType=VARCHAR},
			</if>
			<if test="serverip != null">
				#{serverip,jdbcType=VARCHAR},
			</if>
			<if test="serverport != null">
				#{serverport,jdbcType=INTEGER},
			</if>
			<if test="rmiurl != null">
				#{rmiurl,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="recomm != null">
				#{recomm,jdbcType=TINYINT},
			</if>
			<if test="wlmodel != null">
				#{wlmodel,jdbcType=TINYINT},
			</if>
			<if test="hefu != null">
				#{hefu,jdbcType=TINYINT},
			</if>
			<if test="groupId != null">
				#{groupId,jdbcType=TINYINT},
			</if>
			<if test="logDb != null">
				#{logDb,jdbcType=VARCHAR},
			</if>
			<if test="openTime != null">
				#{openTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.syhd.ahriman.dao.model.AppServer">
		update app_server
		<set>
			<if test="servername != null">
				serverName = #{servername,jdbcType=VARCHAR},
			</if>
			<if test="serverip != null">
				serverIP = #{serverip,jdbcType=VARCHAR},
			</if>
			<if test="serverport != null">
				serverPort = #{serverport,jdbcType=INTEGER},
			</if>
			<if test="rmiurl != null">
				rmiUrl = #{rmiurl,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="recomm != null">
				recomm = #{recomm,jdbcType=TINYINT},
			</if>
			<if test="wlmodel != null">
				wlmodel = #{wlmodel,jdbcType=TINYINT},
			</if>
			<if test="hefu != null">
				hefu = #{hefu,jdbcType=TINYINT},
			</if>
			<if test="groupId != null">
				group_id = #{groupId,jdbcType=TINYINT},
			</if>
			<if test="logDb != null">
				log_db = #{logDb,jdbcType=VARCHAR},
			</if>
			<if test="openTime != null">
				open_time = #{openTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where serverID = #{serverid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.syhd.ahriman.dao.model.AppServer">
		update app_server
		set serverName = #{servername,jdbcType=VARCHAR},
		serverIP = #{serverip,jdbcType=VARCHAR},
		serverPort = #{serverport,jdbcType=INTEGER},
		rmiUrl = #{rmiurl,jdbcType=VARCHAR},
		status = #{status,jdbcType=TINYINT},
		recomm = #{recomm,jdbcType=TINYINT},
		wlmodel = #{wlmodel,jdbcType=TINYINT},
		hefu = #{hefu,jdbcType=TINYINT},
		group_id = #{groupId,jdbcType=TINYINT},
		log_db = #{logDb,jdbcType=VARCHAR},
		open_time = #{openTime,jdbcType=TIMESTAMP}
		where serverID = #{serverid,jdbcType=INTEGER}
	</update>
	<select id="getAllServer" resultType="com.syhd.ahriman.dao.model.AppServer">
		select serverID,servername,log_db logDb from app_server order by servername
	</select>
</mapper>