<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syhd.ahriman.dao.mapper.UserInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.syhd.ahriman.dao.model.UserInfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="uid" jdbcType="VARCHAR" property="uid" />
		<result column="account" jdbcType="VARCHAR" property="account" />
		<result column="encryptedPwd" jdbcType="VARCHAR"
			property="encryptedpwd" />
		<result column="imsi" jdbcType="VARCHAR" property="imsi" />
		<result column="security" jdbcType="VARCHAR"
			property="security" />
		<result column="lastLoginServerID" jdbcType="INTEGER"
			property="lastloginserverid" />
		<result column="loginingServerID" jdbcType="INTEGER"
			property="loginingserverid" />
		<result column="regType" jdbcType="VARCHAR" property="regtype" />
		<result column="regIP" jdbcType="VARCHAR" property="regip" />
		<result column="regTime" jdbcType="VARCHAR" property="regtime" />
		<result column="lastLoginIP" jdbcType="VARCHAR"
			property="lastloginip" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, account, encryptedPwd, imsi, security, lastLoginServerID,
		loginingServerID,
		regType, regIP, regTime, lastLoginIP
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from user_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.syhd.ahriman.dao.model.UserInfo">
		insert into user_info (id, uid, account,
		encryptedPwd, imsi, security,
		lastLoginServerID, loginingServerID, regType,
		regIP, regTime, lastLoginIP
		)
		values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR},
		#{account,jdbcType=VARCHAR},
		#{encryptedpwd,jdbcType=VARCHAR}, #{imsi,jdbcType=VARCHAR}, #{security,jdbcType=VARCHAR},
		#{lastloginserverid,jdbcType=INTEGER},
		#{loginingserverid,jdbcType=INTEGER}, #{regtype,jdbcType=VARCHAR},
		#{regip,jdbcType=VARCHAR}, #{regtime,jdbcType=VARCHAR},
		#{lastloginip,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.syhd.ahriman.dao.model.UserInfo">
		insert into user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="encryptedpwd != null">
				encryptedPwd,
			</if>
			<if test="imsi != null">
				imsi,
			</if>
			<if test="security != null">
				security,
			</if>
			<if test="lastloginserverid != null">
				lastLoginServerID,
			</if>
			<if test="loginingserverid != null">
				loginingServerID,
			</if>
			<if test="regtype != null">
				regType,
			</if>
			<if test="regip != null">
				regIP,
			</if>
			<if test="regtime != null">
				regTime,
			</if>
			<if test="lastloginip != null">
				lastLoginIP,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="encryptedpwd != null">
				#{encryptedpwd,jdbcType=VARCHAR},
			</if>
			<if test="imsi != null">
				#{imsi,jdbcType=VARCHAR},
			</if>
			<if test="security != null">
				#{security,jdbcType=VARCHAR},
			</if>
			<if test="lastloginserverid != null">
				#{lastloginserverid,jdbcType=INTEGER},
			</if>
			<if test="loginingserverid != null">
				#{loginingserverid,jdbcType=INTEGER},
			</if>
			<if test="regtype != null">
				#{regtype,jdbcType=VARCHAR},
			</if>
			<if test="regip != null">
				#{regip,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				#{regtime,jdbcType=VARCHAR},
			</if>
			<if test="lastloginip != null">
				#{lastloginip,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.syhd.ahriman.dao.model.UserInfo">
		update user_info
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="encryptedpwd != null">
				encryptedPwd = #{encryptedpwd,jdbcType=VARCHAR},
			</if>
			<if test="imsi != null">
				imsi = #{imsi,jdbcType=VARCHAR},
			</if>
			<if test="security != null">
				security = #{security,jdbcType=VARCHAR},
			</if>
			<if test="lastloginserverid != null">
				lastLoginServerID = #{lastloginserverid,jdbcType=INTEGER},
			</if>
			<if test="loginingserverid != null">
				loginingServerID = #{loginingserverid,jdbcType=INTEGER},
			</if>
			<if test="regtype != null">
				regType = #{regtype,jdbcType=VARCHAR},
			</if>
			<if test="regip != null">
				regIP = #{regip,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				regTime = #{regtime,jdbcType=VARCHAR},
			</if>
			<if test="lastloginip != null">
				lastLoginIP = #{lastloginip,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.syhd.ahriman.dao.model.UserInfo">
		update user_info
		set uid = #{uid,jdbcType=VARCHAR},
		account = #{account,jdbcType=VARCHAR},
		encryptedPwd = #{encryptedpwd,jdbcType=VARCHAR},
		imsi = #{imsi,jdbcType=VARCHAR},
		security = #{security,jdbcType=VARCHAR},
		lastLoginServerID = #{lastloginserverid,jdbcType=INTEGER},
		loginingServerID = #{loginingserverid,jdbcType=INTEGER},
		regType = #{regtype,jdbcType=VARCHAR},
		regIP = #{regip,jdbcType=VARCHAR},
		regTime = #{regtime,jdbcType=VARCHAR},
		lastLoginIP = #{lastloginip,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="getStatistic" resultType="com.syhd.ahriman.dto.KpiStatistic">
		SELECT date, count( uid ) count
		FROM ( SELECT date( regTime ) date, uid FROM user_info 
			where regTime >= #{param.start} and regTime &lt; #{param.end}
			<if test="param.platform != null and param.platform.length > 0">
				and regType in
				<trim prefix="(" suffixOverrides="," suffix=")">
					<foreach collection="param.platform" item="item">
						#{item},
					</foreach>
				</trim>
			</if>
			<if test="param.serverId != null and param.serverId.length > 0">
				and lastLoginServerID in
				<trim prefix="(" suffix=")" suffixOverrides=",">
					<foreach collection="param.serverId" item="item">
						#{item},
					</foreach>
				</trim>
			</if>
		) t 
		GROUP BY date
	</select>
</mapper>