<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header(~{::title},~{::link})">
	<title>角色管理</title>
	<link rel="stylesheet" href="/css/chosen.css" th:href="@{/css/chosen.css}">
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
  	<link rel="stylesheet" href="/css/prism.css" th:href="@{/css/prism.css}">
</head>
<body>
	<div class="x-nav">
		<span class="layui-breadcrumb">
			<a href="javascript:;"><cite>系统管理</cite></a>
			<a href="javascript:;"><cite>角色管理</cite></a>
		</span>
		<a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right" href="javascript:location.replace(location.href);" title="刷新">
			<i class="layui-icon" style="line-height: 30px">&#xe666;</i></a>
	</div>
	<div class="x-body">
		<div class="layui-card">
			<div class="layui-card-body">
				<button id="insertBtn" class="layui-btn" style="margin-left: 5px;"><i class="layui-icon"></i>新增</button>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<form id="searchForm" class="layui-form"><!-- class="layui-form layui-col-md12 x-so" -->
					<div class="layui-input-inline">
						<input class="layui-input" id="groupName" type="text" name="groupName" placeholder="请输入角色名" autocomplete="off">
					</div>
					<button type="button" id="searchBtn" class="layui-btn x-right"><i class="layui-icon">&#xe615;</i></button><!-- lay-submit="" lay-filter="sreach" -->
				</form>
			</div>
		</div>
		<table id="main" lay-filter="main"></table>
	</div>
	
	<th:block th:replace="base:: common_javascript(~{::script})">
		<script src="./index.js" th:src="@{/system/authoritygroup/index.js}"></script>
	</th:block>
	
	<script id="actionBar" type="text/html">
  		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
	</script>
</body>
</html>